{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 175,
	"trailingComma": "es5",
	"eslintIntegration": true,
	"tslintIntegration": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"semi": true,
	"jsxBracketSameLine": true
}
